body{
    /* height: 100vh; */
    background-color: #DC3545;
    color: white;
    overflow: hidden;
}

main{
    overflow: hidden;
}

button, button:active, button:focus, button:hover{
    outline: none !important;
    border: none !important;
    background-color: inherit;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #be2f3d;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }


nav{
    height: 60px;
    width: 100vw;
    padding:  8px 3% 8px 3% !important;
    background-color: #202124;
}

.navbar-toggler{
    border: 0px;
    box-shadow: none !important
}

.navbar-collapse {
    background-color: #202124;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 6;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 20%;
<<<<<<< HEAD
    min-height: 100vh;
=======
    height: 100%;
>>>>>>> 8fa703e233b060528e2f02deb73ed8b034628330
}

.navbar-collapse.collapsing {
    left: -20%;
<<<<<<< HEAD
    transition: left .25s linear;
=======
    transition: left 100ms ease;
>>>>>>> 8fa703e233b060528e2f02deb73ed8b034628330
}

.navbar-collapse.show {
    left: 0;
<<<<<<< HEAD
    transition: all .25s linear;
=======
    transition: left 300ms ease;
>>>>>>> 8fa703e233b060528e2f02deb73ed8b034628330
}

.nav-link{
    color: white;
}

.nav-link:focus, .nav-link:hover{
    color: white;
}

.nav-item{
    width: 90%;
    margin-left: 10%;
    font-weight: bold;
    padding: 5px 16px 5px 16px;
    color: white;
}

.dropdown-menu{
    border: 0px;
    background-color: inherit
}

.dropdown-item{
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.dropdown-item:hover{
    color: white;
    background-color: #2a2b2e;
}

#dropdown-arrow.close{
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    /* padding-right: 8% !important; */
}

#dropdown-arrow.open{
    transform: rotate(90deg);
    transition: transform 0.25s ease;
}


.nav-icon{
    font-size: 23px;
    padding-right: 10px;
    color: white;
}

.fa-circle{
    font-size: 32px;
}

#task-container{
    height: 80vh;
    max-width: 600px;
    /* margin-top: 90px; */
    border-radius: 20px 20px 0px 0px;
    padding: 0px;
    /* background-color: white; */
    color: #202124;
}

#gradient{
    display: none;
    position: fixed;
    max-width: 600px;
    z-index:2;
    bottom: 0px;
    height:200px; /* adjust it to your needs */
    background: url(data:image/svg+xml;base64,alotofcodehere);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
}

#header{
    background-color: #DC3545;
    margin-top: 100px;
    max-width: 600px;
    color: white;
}

.header-line{
    margin-left: 20px;
    margin-bottom: 0px;
    width: 95%;
    padding-left: 80px;
    height: 5px !important; 
    opacity: 100%;
}

#new-todo-bar{
    color: #202124;
    padding: 0px 10px 0px 10px;
}

#new-todo-field{
    height: 40px;
    border: none !important;
    outline: none;
    background-color: whitesmoke;
}

::placeholder{
    color: #202124;
}

#new-task-btn{ /*new mobile add task btn*/
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: 20px;
}

#todo-add-btn{ /*old dsktp add task btn*/
    height: 60px;
    width: 60px;
    border-radius: 50% !important;
    /* background-color: #be2f3d; */
    background-color: white;
}


.fa-plus{
    color: #DC3545;
    font-size: 25px;
}

.task-name{
    padding: 0px;
    margin: 0px;
}

/* .task-name:focus{
    outline: none !important;
} */
/* 
[contenteditable]:focus {
    outline: 0px solid transparent !important;
} */

/* .element:read-write:focus {
    outline: none !important;
} */

#todo-list{
    overflow-y: scroll !important;
    max-height: 650px;
    max-width: 600px;
    /* margin-top: 30px; */
    padding: 20px;
}

.todo-item{
<<<<<<< HEAD
    height: 40px;
=======
    height: 50px;
>>>>>>> 8fa703e233b060528e2f02deb73ed8b034628330
    background-color: #be2f3d;
    /* border: 1px solid #CCC; */
    border-radius: 6px;
    margin-top: 5px;
    color: white;
<<<<<<< HEAD
}


.round {
    position: relative;
=======
>>>>>>> 8fa703e233b060528e2f02deb73ed8b034628330
}
  
.round label {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 23px;
    left: 10px;
    position: absolute;
    top: 0;
    bottom: 0px;
    width: 23px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    /* background-color: #66bb6a;
    border-color: #66bb6a; */

    background-color: #f33b4d;
    border-color: #f33b4d;

    /* background-color: white;
    border-color: white; */
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;    
}
  


.task-btns{
    padding: 0px;
}

.edit-btn{
    display: none; /* TESTING */
    background-color: lightgray;
    border-radius: 6px;
}

.remove-btn{
    display: none; /* TESTING */
    background-color: #DC3545;
    border-radius: 6px;
}

.mbl-task-btn{
    margin-right: 15px;
    /* display: none; */
}

.fa-ellipsis{
    color: white;
}


@media screen and (max-width: 767px){
    .task-name{
        font-size: 14px; /*14-16*/
    }     
}

@media screen and (max-width: 414px){
<<<<<<< HEAD
    

    .navbar-collapse {
        width: 100%;
    }

    .navbar-collapse.collapsing {
        left: -100%;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(233, 230, 230);
    }
=======
>>>>>>> 8fa703e233b060528e2f02deb73ed8b034628330

    #task-container{
        background-color: white;
        margin-top: 50px;
    }

    #todo-list{
        max-height: 400px;
        /* margin-top: 30px; */
    }

    .todo-item{
        color: black;
    }

    .edit-btn, .remove-btn{
        display: none;
    }

    .mbl-task-btn{
        display: block;
    }

    #todo-add-btn{
        background-color: #DC3545;
    }

    .fa-plus{
        color: white;
    }

    #gradient{
        display: block;
    }
}